.project{
    display: flex;
    flex-direction: column;
}
.title{
    align-self: center;
    margin: 20px;
    padding-bottom: 30px;
    font-size: 30px;
    color:#0a2f44;
    font-weight: bold;
}
