.resume {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 30px;
  }

  @media (max-width: 768px) {
    .resume {
      canvas {
        max-width: 100%;
        height: auto !important;
      }
    }
  }