.card-container {
    width: 30vw; 
    height: 40vh;
    max-width: 400px;
    max-height: 400px; 
    position: relative;
    perspective: 1000px;
    margin-bottom: 20px;
}
.card-container .front img{
    width: 100%;
    height: 100%;
}
  .front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .25s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: .4rem;
    box-shadow: 0 .2rem .5rem rgba(0, 0, 0, .18);
    text-shadow: 0 .15rem .2rem rgba(0, 0, 0, .2);
  }
  .front {
    transform: rotatey(0deg);
  }
  .card-container:hover .front {
    transform: rotatey(180deg);
  }
  .back {
    text-align: center;
    transform: rotatey(-180deg);
    background-color: white;
    color: #0a2f44;
  }
  .card-container:hover .back {
    transform: rotatey(0deg);
  }
  .introduce{
    position: relative;
    width:100%;
    top:100%;
    text-align: center;
    padding-top: 10px;
  }

  @media(max-width:768px){
    .card-container{
    width: 40vw; 
    height: 30vh;
    max-width: 300px;
    max-height: 400px; 
    position: relative;
    perspective: 1000px;
    margin-bottom: 20px;
    }
    .introduce{
        margin-top: 10px;
    }
    .back{
        font-size: 15px;
    }
  }