.header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height:130px;
    padding:0 5%;
    color:#0a2f44;
    font-size: 18px;
}

.nav{
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
    align-items: center;
}

.menu li{
    position: relative;
    color: #0a2f44;
    font-size: 1rem;
    font-weight: 500;
    padding: 8px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menu li::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #0a2f44; 
    bottom: -3px; 
    left: 50%;
    transition: width 0.3s ease, left 0.3s ease; 
  }
  
  .menu li:hover::after, .menu li.active::after{
    width: 80%;
    left: 15%; 
  }

  .mobile-menu{
    display: none;
  }
  @media(max-width:768px){
    .menu{
        display: none;
    }
    .mobile-menu{
        display: flex;
        cursor:pointer;
    }
  }